
<h1>All of Your Tasks for <%="#{@list.name}"%> </h1>
<% @tasks.each do |task|%>
  <div class="margin_2">
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Priority: <%= task.priority%></div>
  <div class="card-body">
    <h5 class="card-title"><%= task.name%></h5>
    <p class="card-text"><%= task.description%></p>
  </div>
      
    </div>
  </div>
  <%end%>

<div href="#" class="btn btn-secondary"><%= link_to "Back to Boards", root_path%></div>
